[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "thirdparty/rive-cpp"]
	path = thirdparty/rive-cpp
	url = https://github.com/meishijie/rive-runtime.git
	branch = ci-custom
